.Header
    display flex
    width: 100%
    justify-content: space-between
    align-items: center
    padding: 8 * $padding 8 * $padding
    +e(btn)
        background: none
        border none 
        outline none 
        color white
        font-size: 24 * $px
        cursor pointer