.title
    font-size: 56 * $px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: uppercase;

.sub-title
    font-size: 20 * $px;
    color: #BC8D58;
    letter-spacing: 1px;
    text-transform: uppercase;